__pycache__/
*.py[cod]


*.env
*.local
*.db
*.sqlite3
*.log
cloud_storage_service/settings.py
cloud_storage_service/settings.local.py


venv/
ENV/
env/
*.venv/
*.env/


.vscode/


.idea/


.DS_Store


Thumbs.db
Desktop.ini


*.psql


migrations/


/static/
media/


docs/_build/


.cache/
*.cover
*.log
*.tox
*.nox
*.coverage
*.hypothesis/


node_modules/
bower_components/


.docker/
